@page "/customer/view/{Id}"
@inject ICustomerRepository _repo
@inject NavigationManager _navManager
@inject IToastService _toastService

<h3 class="card-title">View customer Details</h3>
<hr/>
<br/>
@if (int.Parse(Id) < 1 || string.IsNullOrWhiteSpace(Id))
{
    <ErrorMessage Message="Invalid Selection. Please Try Again"/>
}
else if (Model == null)
{
    <LoadingMessage Message="Loading customer Details"/>
}
else
{
    <div class="col-md-4">
        <table class="table table-responsive">
            <tr>
                <td>Name</td>
                <td>@Model.</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>NIP</td>
                <td>@Model.NIP</td>
            </tr>
        </table>
        <br/>
        @if (Model.Ticketks == null || Model.Ticketks.Count < 1)
        {
            <div class="alert alert-dismissible alert-secondary">
                No tickets for this customer
            </div>
        }
        else
        {
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h4>Customer's tickets</h4>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var ticket in Model.Ticketks)
                    {
                        <li class="list-group-item">@ticket.Title - @ticket.Summary </li>
                    }
                </ul>
            </div>
        }

    </div>
}
<br/>


<button @onclick="GoToEdit" class="btn btn-outline-warning">
    <span class="oi oi-pencil"></span>
    Edit customer
</button>
<button @onclick="GoToDelete" class="btn btn-outline-danger">
    <span class="oi oi-circle-x"></span>
    Delete customer
</button>
<button @onclick="BackToList" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span>
    Back To List
</button>

@code {

    [Parameter]
    public string Id { get; set; }

    private Customer Model = new();

    protected override async Task OnInitializedAsync()
    {
        var id = Convert.ToInt32(Id);
        Model = await _repo.Get(Endpoints.CustomerEndpoint, id);
        _toastService.ShowInfo($"Now Viewing {Model.Name} {Model.Description}");
    }

    private void BackToList()
    {
        _navManager.NavigateTo("/customers/");
    }

    private void GoToEdit()
    {
        _navManager.NavigateTo($"/customers/edit/{Model.Id}");
    }

    private void GoToDelete()
    {
        _navManager.NavigateTo($"/customers/delete/{Model.Id}");
    }

}